# Ignore everything by default
*

# Keep folders explorable
!*/

# Keep Python source
!*.py

# Keep notebooks
!*.ipynb

# Keep markdown docs
!*.md

# Keep root install files
!requirements.txt
!environment.yml

# Keep env file
!environment-edgeids.yml

# Keep gitignore itself
!.gitignore
